@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

@font-face {
  font-family: upheaval;
  src: url(Assets/upheavtt.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: upheaval;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
}
p {
  margin: 7px 0px;
}
h1 {
  border-bottom: 2px solid black;
  padding-bottom: 16px;
}
.font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}

#dialog {
  color: black;
  text-align: center;
  padding: 100px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 100px 0px;
  justify-content: center;
}
.title {
  padding: 16px;
  width: 400px;
  margin: auto;
}
.infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 100px;
}
.start {
  cursor: pointer;
  overflow: hidden;
  margin-top: 16px;
  display: grid;
  align-items: center;
  border-radius: 30px;
  color: white;
  background-color: #b3b3b3;
  font-size: 2rem;
  box-shadow: 2px 4px 11px 0px #000000a8;
  transition: all 0.5s ease-in-out;
}
.start:hover {
  background-color: rgb(128, 204, 255);
}
.start div {
  grid-row: 1;
  grid-column: 1;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
}
.progress {
  padding: 0 !important;
  border-radius: 30px;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(46, 46, 216);
  transition: width 3s ease-in;
}
.load {
  width: 100%;
  padding: 16px;
}
.created {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

#outer {
  visibility: hidden;
}

#vui {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1;
  grid-template-rows: auto 1fr;
}
#stats {
  margin-left: 10px;
}
.stat {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.stat span {
  width: 100px;
  margin-right: 10px;
  opacity: 0.8;
}
input {
  border: none;
  background-color: transparent;
  width: 80px;
  outline: none;
  font-family: upheaval;
  font-size: 1.5rem;
  color: white;
  text-overflow: ellipsis;
}

#coins {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: 100px;
}
.coin {
  display: flex;
}
.coin img {
  margin-right: 10px;
}

#hearts {
  margin: 100px 0px 0px 100px;
  display: flex;
  flex-wrap: wrap;
  width: 210px;
}
.heart {
  display: inline-block;
  width: 25px;
  aspect-ratio: 1;
  border-image: radial-gradient(rgb(230, 48, 48) 69%, #0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  margin: 0px 10px 10px 0px;
}
.empty {
  border-image: radial-gradient(rgb(73, 70, 70) 69%, #0000 70%) 84.5% fill/100%;
}

#item-info {
  visibility: hidden;
  position: absolute;
  top: 300px;
  left: 0;
  width: 100vw;
}
.img-grid {
  display: grid;
  align-items: center;
}
.bg-img {
  margin: auto;
  width: 65vw;
}
.name,
.bg-img {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}
.name {
  font-size: 2rem;
}
.description {
  text-align: center;
  font-size: 1.4rem;
}
.overlay {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0f8ff;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}
.overlay h1 {
  color: black;
  border: none;
  text-align: center;
  font-size: 4rem;
}
#confetti {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
